@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customizações sofisticadas para scrollbars (Modo Dark/Light) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.dark ::webkit-scrollbar-thumb {
  background: #29292e;
  border-radius: 10px;
}

.light ::webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
